<app-template-header></app-template-header>

<div class="list-view">
  <h4 (click)="toDoShow=!toDoShow">Active <span>( {{ toDos.length}} )</span></h4>
  <div dragula="todos" [dragulaModel]="toDos" (dragulaModelChange)="toDos = $event" *ngIf="toDoShow" class="todo-elements">
    <app-template-todo (ping)="updateToDos($event)" [toDo]="toDo" *ngFor="let toDo of toDos"></app-template-todo>
  </div>
  <app-template-todo-form (ping)="createToDo($event)" *ngIf="toDoShow"></app-template-todo-form>
  <h4 (click)="toDoDoneShow=!toDoDoneShow">Done <span>( {{ toDosDone.length}} )</span></h4>
  <div *ngIf="toDoDoneShow" class="todo-elements">
    <app-template-todo (ping)="updateToDos($event)" [toDo]="toDo" *ngFor="let toDo of toDosDone"></app-template-todo>
  </div>
</div>